<div class="container">
    <div class="row">
       @for(book of books; track book.id) {
            <div class="col-md-3">
                <div class="card" style="width: 18rem; margin-bottom: 20px; position: relative;">
                    <a>
                        <img [src]="book.image" class="card-img-top" style="width: 285px; height: 200px;" alt="...">
                    </a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="card-title"></h6>
                        </div>
                        <h6>555555</h6>                  
                    </div>
                </div>
            </div>
            
       }
    </div>
  </div>
  