
<div class="py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let categoryBook of categories">

        <div class="category-card">
          <div class="category-card-header">
            <img [src]="categoryBook.image" alt="Category Image" class="category-card-img" >
          </div>
          <div class="category-card-body">
            <h5 class="category-name" >ddddddddddddddd</h5>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>